/* App.css */

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center; 
  background-attachment: fixed;  
  background-repeat: no-repeat;
}

.App {
  width: 100%;
  max-width: 500px;
  background-color:beige;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff; /* Bootstrap blue color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.weather-info {
  margin-top: 20px;
}

.weather-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.weather-info p {
  font-size: 1rem;
  margin: 5px 0;
}

.weather-condition img {
  width: 100px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  input[type="text"] {
    width: 90%;
  }
  button {
    width: 90%;
  }
}
